(
  format_version: "1.0.0",
  name: "Basic",
  version: "1.0.0",
  namespace: "std",
  description: "The most basic template to get started with a new Allay project.",
  authors: ["Jonas da Silva"],
)
